/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 11/26/2014, 1:38:31 AM
    Author     : Jeff
*/

a{
    color: #676767;
}

/* mouse over link */
a:hover {
    text-decoration: none;
    color: white;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;

}

/* selected link */
a:active {
    color: #0000FF;
}

h2{
    margin-bottom: 0px;
    margin-top: 5px;
}

h3{
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 5px;
}


.titlebar h4{
    Margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 30px;
    font-size: 22px;
}

.menunav{
    margin-left: 30px;

}

.nav-pills>li.active>a{
    margin-left: 30px;
    background-color: white;
    color:  black;
}

.nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    margin-left: 30px;
    color:  #b9ae76;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img{
    width: 100%;
    /*    height: 100%;*/
    margin-left: auto;
    margin-right: -15px;

}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 15px;
    padding-top: 0px;
    padding-top: 0px;

}

.carousel {
    border: 1px solid transparent;
    overflow: visible;
}

#sliderWrite{
    /*    max-width: 100%;*/
    margin-top: -78px;

}

body {
    color: #676767;
}

.footerBar{
    font-size: 18px;
    background-color: #b9ae76;
    padding-top: 10px;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.bottomTitle{
    font-size: 2em;
    margin-bottom: 2.5px;
}

.bottomText{
    font-size: 1em;
}

#residentialgallery a{
    vertical-align: super;
    margin-left: 53px;
}

#services a{
    vertical-align: super;
    margin-left: 42px;
}

#aboutthebuilder a{
    vertical-align: super;
    margin-left: -9px;
}

#residentialgallery a:hover, #services a:hover, #aboutthebuilder a:hover{
    color: #167bbf
}

#residentialgallery ul, #services ul, #aboutthebuilder ul{
    margin: 0;
    padding: 0;

}

#residentialgallery{
    padding-left: 0;
    background: url('/templates/Briarstone/images/doorknocker-icon.gif') no-repeat;
    margin-left: -39px;
    list-style-type: none;
    margin-top: -39px;
}

#services{
    padding-left: 0;
    background: url('/templates/Briarstone/images/construction-icon.gif') no-repeat;
    margin-left: -52px;
    list-style-type: none;
    margin-top: -39px;
}

#aboutthebuilder{
    padding-left: 0;
    list-style-image: url('/templates/Briarstone/images/builder-icon.gif');
    list-style-type: none;
    margin-top: -42px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#footer{
    background-color: #30579a;
    margin-top: 80px;
}

#footer hr{
    margin-top: -2px;
    background-color: #b9ae76;
    height: 1px;
}

.foot-logo{
    margin-right: 20px;
    margin-top: 20px;
}

.footText{
    color: white;
    font-size: 1em;
    margin-top: -15px;
}

.footTitle{
    color: white;
    font-size: 2em;
    margin-bottom: 2.5px;
}

.footCopyrightText{
    font-size: 12px;
    color: white;
    margin-top: 20px;
    margin-top: 10px;
}

.footBadgeSpace{
    padding-left: 10px;
    padding-right: 10px;
}

.textPadding{
    margin-left: 20px;
}
.logoAdjust{
    margin-top: -15px;
    margin-left: -30px;

}

.underNavIndex{
    padding-top: 85px;

}

.underNavElse{
    padding-top: 15px;

}